@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);
@import "normalize";

$font-family: 'Open Sans', sans-serif;
$font-weight: 400;
$light-font-weight: 300;

$grey: #888;
$blue: #4098ff;
$blue-faint: #7ab7ff;
$white: #FFF;

@mixin border-radius($radius: 2px) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

body {
  background: $white;
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: 1em;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;

  /* fade in */
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-delay: 0.3s;
}

.h1 {
  color: $blue;
  font-size: 2.2em;
  margin: 150px 0 30px 0;
}

.p {
  color: $grey;
  line-height: 1.7em;
  font-weight: $light-font-weight;

  &.p--space-bottom {
    margin-bottom: 30px;
  }
}

.a {
  color: $blue;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: $blue-faint;
  }
}

.button {
  @include border-radius;
  padding: 10px 22px;
  background-color: $blue;
  color: $white;
  text-decoration: none;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $blue-faint;
  }
}

.contact {
  margin-top: 30px;
}

.contact__icon-a {
  text-decoration: none;

  i {
    color: $blue;
    font-size: 2em;
    transition: color 0.3s ease;

    &:hover {
      color: $blue-faint;
    }
  }
}
