---
title: Jeffrey Jurgajtis
---

<div class="container">
  <h1 class="h1">I'm Jeffrey Jurgajtis</h1>

  <p class="p">
    I'm a business grad turned software consultant. My passion is to create
    software that creates value.
  </p>

  <p class="p">
    Over the past five years, I have worked with a wide range of clients from
    early-stage startups to Fortune 500 companies such as McKesson to develop,
    launch, and grow web applications.
  </p>

  <p class="p p--space-bottom">
    I understand business objectives &mdash; and pair that understanding with
    high quality engineering to create software that provides lasting value
    and exceeds user expectations.
  </p>

  <div class="contact">
    <a class="contact__icon-a" href="mailto:jeffreyjurgajtis@gmail.com">
      <i class="typcn typcn-mail"></i>
    </a>

    <a class="contact__icon-a" href="https://github.com/jeffreyjurgajtis">
      <i class="typcn typcn-social-github"></i>
    </a>

    <a class="contact__icon-a" href="http://www.linkedin.com/pub/jeffrey-jurgajtis/58/695/aa7">
      <i class="typcn typcn-social-linkedin"></i>
    </a>

    <a class="contact__icon-a" href="https://twitter.com/jeffjurgajtis">
      <i class="typcn typcn-social-twitter"></i>
    </a>
  </div>
</div>
