---
title: Jeffrey Jurgajtis
---

<div class="container">
  <h1 class="h1 h1--space-top h1--space-bottom">I'm Jeffrey Jurgajtis</h1>

  <p class="p p--space-bottom-light">
    I'm a business graduate turned software consultant. My passion is to develop
    software that creates value.
  </p>

  <p class="p p--space-bottom-light">
    Over the past five years, I have worked with a wide range of clients from
    early-stage startups to Fortune 500 companies such as McKesson to develop,
    launch, and grow web applications.
  </p>

  <p class="p p--space-bottom-light">
    I use proven technologies such as Rails, Phoenix, and Ember.js paired with
    engineering best-practices to help people reach their business objectives.
  </p>

  <p class="p p--space-bottom">
    Have a project in mind?
    <a class="a" href="mailto:jeffreyjurgajtis@gmail.com">
      Contact me.
    </a>
  </p>

  <div class="contact">
    <a class="contact__icon-a" href="mailto:jeffreyjurgajtis@gmail.com">
      <i class="typcn typcn-mail"></i>
    </a>

    <a class="contact__icon-a" href="https://github.com/jeffreyjurgajtis">
      <i class="typcn typcn-social-github"></i>
    </a>

    <a class="contact__icon-a" href="http://www.linkedin.com/pub/jeffrey-jurgajtis/58/695/aa7">
      <i class="typcn typcn-social-linkedin"></i>
    </a>

    <a class="contact__icon-a" href="https://twitter.com/jeffjurgajtis">
      <i class="typcn typcn-social-twitter"></i>
    </a>
  </div>
</div>
