---
title: Jeffrey Jurgajtis
---

<div class="container">
  <h1 class="h1 h1--centered h1--black">Jeffrey Jurgajtis</h1>

  <p class="p p--centered p--black p--space-bottom">
    <a class="a a--black" href="mailto:jeffreyjurgajtis@gmail.com">
      jeffreyjurgajtis@gmail.com
    </a>
    &#124; 210.262.8896 &#124; San Antonio, TX
  </p>

  <h2 class="h2 h2--black">Experience</h2>

  <p class="p p--black p--bold">RoleModel Software</p>
  <p class="p p--black">2 years (current)</p>
  <p class="p p--black p--space-bottom-light">
    <a class="a a--black" href="http://rolemodelsoftware.com">rolemodelsoftware.com</a>
  </p>

  <p class="p p--black p--space-bottom">
    Software developer on a
    <a class="a a--black" href="http://www.mckesson.com/providers/physician-practices/oncology-and-specialty-practice-solutions/practice-management-technologies/prior-authorization-and-regimen-support">cancer decision support</a>
    system by Mckesson Specialty Health.
  </p>

  <p class="p p--black p--bold">Grok Interactive</p>
  <p class="p p--black">1.5 years</p>
  <p class="p p--black p--space-bottom-light">
    <a class="a a--black" href="https://www.grok-interactive.com">grok-interactive.com</a>
  </p>

  <p class="p p--black p--space-bottom">
    Lead Ruby developer where responsibilities included working directly with
    clients to design and develop custom web apps.
  </p>

  <p class="p p--black p--bold">Lumerit Education</p>
  <p class="p p--black">2 years</p>
  <p class="p p--black p--space-bottom-light">
    <a class="a a--black" href="http://lumerit.com/">lumerit.com</a>
  </p>

  <p class="p p--black p--space-bottom">
    Developed a suite of Rails applications to manage college student records
    and provide web-based learning apps.
  </p>

  <h2 class="h2 h2--black">Education</h2>

  <p class="p p--black">BSBA, Computer Information Systems</p>
  <p class="p p--black p--space-bottom">Thomas Edison State University</p>
</div>
